#pane{
    -fx-background-image: url("Background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-color: transparent; /* Remove border */
}